@using model_view_controler.modely
@model model_view_controler.modely.Prezidentik[];
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    Prezidentik[] prezidentiks = Model;
}
<div>hello</div>
<h1>retardů na J je: @ViewData["Jcount"]</h1>
<h1>libtardů je: @ViewData["libtards"]%</h1>
<h1>rebtardů je: @ViewData["rebtard"]%</h1>
<h1>ňů jorkerů je: @ViewData["newyorker"]</h1>
<table>
    @foreach (Prezidentik p in prezidentiks)
    {
        <tr style="">
            <td>
                @p.PresidencyID
            </td>
            <td>
                @p.Name
            </td>
            <td>
                @p.Wikipedia
            </td>
            <td>
                @p.PresidentFrom
            </td>
            <td>
                @p.PresidentTo
            </td>
            <td>
                @p.Party
            </td>
            <td>
                @p.PortraitImage
            </td>
            <td>
                @p.Thumbnail
            </td>
            <td>
                @p.HomeState
            </td>
        </tr>
    }
</table>

@{
    
}